{% for message in app.flashes('success') %}
    <div class="flash-notice success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('alert') %}
    <div class="flash-notice alert">
        {{ message }}
    </div>
{% endfor %}