{% extends 'user/base.html.twig' %}
{% block head_title %}- Panel użytkownika{% endblock %}
{% block content %}
    <div class="left" id="panel">
        <div class="upper">
            <h1></h1>
            <div class="box_menu">
                <div class="box_menu_left">
                </div>
                <div class="box_menu_mid">
                    <ul>
                        <li>
                            <a class="{% if app.request.get('_route') == 'payments_promotion_code' %}active{% endif %}"
                               href="{{ path('payments_promotion_code') }}">{% trans %}
                                payment.promotion_code{% endtrans %}</a>
                        </li>
                        <li>
                            <a class="{% if app.request.get('_route') == 'payments_paypal_index' %}active{% endif %}"
                               href="{{ path('payments_paypal_index') }}">{% trans %}payment.paypal{% endtrans %}</a>
                        </li>
                    </ul>
                </div>
                <div class="box_menu_right">
                </div>
            </div>
        </div>
        {% include 'user/partials/flash_messages.html.twig' %}
        <div class="payments-content">
            {% block panel_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}