<!DOCTYPE html>

<title>New TicketCategory</title>

{% block body %}
    <h1>Create new TicketCategory</h1>

    {{ include('admin/ticket_category/_form.html.twig') }}

    <a href="{{ path('ticket_category_index') }}">back to list</a>
{% endblock %}