{% extends 'user/base.html.twig' %}
{% block head_title %}- Ranking{% endblock %}
{% block content %}
    <div class="left" id="ranking">
        <div class="upper">
            <h1></h1>
            {% block ranking_header %}
                <ul>
                    <li><a href="{{ path('ranking_players') }}" title="Gracze"
                           class="players {{ app.request.get('_route') in ['ranking_players', 'ranking_index'] ? ' active' : '' }}"></a>
                    </li>
                    <li><a href="{{ path('ranking_guilds') }}" title="Gildie"
                           class="guilds{{ app.request.get('_route') == 'ranking_guilds' ? ' active' : '' }}"></a></li>
                </ul>
            {% endblock %}
        </div>
        {% block ranking_content %}{% endblock %}
    </div>
{% endblock %}