{% extends 'user/panel/index.html.twig' %}
{% block panel_content %}
    <div class="support">
        <table class="support_table" cellpadding="0" cellspacing="0">
            <tr>
                <th class="support_content">
                    Typ
                </th>
                <th class="support_status">
                    Data
                </th>
            </tr>
            {% for log in logs %}
                <tr>
                    <td class="support_content">
                        {{ log.type|trans }}
                    </td>
                    <td class="support_status">
                        {{ log.date|date }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="support_content">
                        Nie zarejestrowany żadnych zmian.
                    </td>
                    <td class="support_status">
                        -
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}