{% extends 'admin/base.html.twig' %}
{% block header %}{% trans %}shop.categories{% endtrans %}{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive m-t-40">
                <table id="myTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{% trans %}shop.category.name{% endtrans %}</th>
                        <th>{% trans %}shop.category.status{% endtrans %}</th>
                        <th style="width: 220px">{% trans %}payment.paypal.manage{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{% if category.status == constant('STATUS_ACTIVE', category) %}{% trans %}turned.on{% endtrans %}{% else %}{% trans %}turned.off{% endtrans %}{% endif %}</td>
                            <td>
                                {% include 'admin/shop/category/form/_delete.html.twig' with {'id' : category.id } %}
                                {% include 'admin/shop/category/form/_changestatus.html.twig' with {'category' : category } %}
                                <a href="{{ path('admin_shop_category_edit', {'id': category.id}) }}"
                                   class="float-left btn btn-info">{% trans %}edit{% endtrans %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}