<form id="search-form" action="{{ action_path }}" method="post">
    <fieldset>
        <input type="text" name="search" class="input_search" autocomplete="off" value="Szukane słowo.."
               onfocus="if(this.value==this.defaultValue)this.value='';"
               onblur="if(this.value=='')this.value=this.defaultValue;">
        <button id="button-search" type="submit" class="button_search"></button>
    </fieldset>
</form>