{% extends 'user/base.html.twig' %}
{% block head_title %} - Pobierz grę{% endblock %}
{% block content %}
    <div class="left" id="panel">
        <div class="upper">
            <h1></h1>
        </div>
        <div class="mirrors-content">
            {% for link in links %}
                <a href="{{ link.url }}" class="mirror">
                    <img src="{{ asset('images/download.jpg') }}" alt>
                    <h2>{{ link.name }}</h2>
                </a>
                {% else %}
            {% endfor %}
        </div>
    </div>
{% endblock %}